@model VmFaq
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_BannerPartial" model="@Model.Banner" />

<section class="faq-accardion">
    <div class="faq-bg">
        <img class="img-fluid" src="./img/Faq-img/11.png" alt="" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
    </div>
    <div class="container accardion-cont">
        <div class="row">
            <div class="col-lg-6 col-md-12 a-Img-col">
                <div class="faq-accardion-img">
                    <img class="img-fluid" src="~/Uploads/@Model.Faq.Image" alt="" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">

                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="accardion-full" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                    <div class="title-of-accardion">
                        <span>STANDARD IN INDUSTRIAL CONTRACTING.</span>
                        <h2>We Building Everything That Needed You</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                    <div class="accordion">
                        <ul>
                            @{ 
                                

                                foreach (var accordion in Model.Faqs)
                                {


                                   
                                    <li>
                                        <a href="">
                                            <span>@accordion.FaqHead</span>
                                        </a>
                                        <p>
                                            @accordion.FaqText
                                        </p>
                                    </li>
                                }
                            }
                            


                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



<section class="percent">
    <div class="solution-counter">

        <div class="container-fluid">
            <div class="row">

                <div class="count-items" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                    @{ 
                        int n = 0;
                        foreach (var count in Model.CompanyIndicators)
                        {
                            n++;
                            <div class="col-lg-3 col-sm-3" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="@(n)00">
                                <div class="counter-context">

                                    <div class="counter-info">
                                        <span class="countfect" data-num="@count.Count"></span><span>%</span>
                                        <p>@count.Title</p>
                                    </div>
                                </div>
                            </div>
                        }
                     }

                </div>

            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="services-context">
                    <div class="head-context">
                        <span>What We Offer</span>
                        <h2>Architek Best Services</h2>
                        <p class="head-contextP">There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form believable.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Services</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            @foreach (var service in Model.Services)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="service-box">
                        <div class="service-img">
                            <img class="img-fluid" src="~/Uploads/@service.ServiceImage" alt="">
                            <div class="service-icon">
                                <i class="@service.Icon"></i>
                            </div>
                        </div>
                        <div class="service-context">
                            <h4>@service.Name</h4>
                            <p>@Html.Raw(service.Text.Length > 220 ? service.Text.Substring(0, 220) + "..." : service.Text)</p>
                            <a asp-controller="Service" asp-action="Detail" asp-route-id="@service.Id">
                                <div class="button-box">
                                    <span class="line-left"></span>
                                    <span class="lineB">Read More</span>
                                    <span class="line-right"></span>
                                    <i class="fas fa-caret-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>


