@model VmAbout
@{
    ViewData["Title"] = "Index";
}

<partial name="_BannerPartial" model="@Model.Banner" />

<section class="need">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                <div class="need-img">
                    <img class="img-fluid" src="./img/About-img/@Model.About.Image" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="need-text">
                    <div class="need-context">
                        <span></span>
                        <h2></h2>
                        <p>@Model.About.Text</p>
                    </div>
                    <ul>
                        <li><i class="fas fa-check"></i>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</li>
                        <li><i class="fas fa-check"></i>Integer egestas metus blandit sagittis vestibulum.</li>
                        <li><i class="fas fa-check"></i>Nunc iaculis libero in ipsum molestie fermentum,a molestie nulla aliquet.</li>
                        <li><i class="fas fa-check"></i>Integer eget massa malesuada,semper metus in,mattis diam.</li>
                    </ul>
                    <div class="row">

                        <div class="person-info">
                            <div class="need-sign">
                                <img class="img-fluid" src="./img/About-img/@Model.About.SignImage" alt="">
                            </div>


                            <div class="sign-person">
                                <h4>@Model.About.FounderName</h4>
                                <p>@Model.About.Position</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-tractor">
        <div class="tractor-img" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            <img class="img-fluid" src="./img/About-img/bg-01.png" alt="">
        </div>
    </div>
</section>
<section class="video">
    <div class="video-opacity"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-video">
                    <a class="play-btn video-play-btn" href="https://www.youtube.com/watch?v=_C5vCGB8Xx0">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="watch" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
        <h2>Watch Our Video</h2>
    </div>

</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="services-context">
                    <div class="head-context">
                        <span>What We Offer</span>
                        <h2>Architek Best Services</h2>
                        <p class="head-contextP">There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form believable.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Services</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="service-img">
                        <img class="img-fluid" src="./img/Home-img/blog-1.jpg" alt="">
                        <div class="service-icon">
                            <i class="fal fa-industry-alt"></i>
                        </div>
                    </div>
                    <div class="service-context">
                        <h4>Construction Management</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing Ipsum has been the standard .</p>
                        <a href="./serviceDetail.html">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Read More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="service-img">
                        <img class="img-fluid" src="./img/Home-img/blog-2.jpg" alt="">
                        <div class="service-icon">
                            <i class="fal fa-robot"></i>
                        </div>
                    </div>
                    <div class="service-context">
                        <h4>Expert Mechanical</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing Ipsum has been the standard .</p>
                        <a href="./serviceDetail.html">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Read More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-box">
                    <div class="service-img">
                        <img class="img-fluid" src="./img/Home-img/blog-3.jpg" alt="">
                        <div class="service-icon">
                            <i class="fal fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="service-context">
                        <h4>Architecture & Building </h4>
                        <p>Lorem Ipsum is simply dummy text of the printing Ipsum has been the standard .</p>
                        <a href="./serviceDetail.html">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Read More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="service-img">
                        <img class="img-fluid" src="./img/Home-img/blog-4.jpg" alt="">
                        <div class="service-icon">
                            <i class="fal fa-ruler-combined"></i>
                        </div>
                    </div>
                    <div class="service-context">
                        <h4>Tiling & Painiting</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing Ipsum has been the standard .</p>
                        <a href="./serviceDetail.html">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Read More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="service-img">
                        <img class="img-fluid" src="./img/Home-img/blog-6.jpg" alt="">
                        <div class="service-icon">
                            <i class="fal fa-cog"></i>
                        </div>
                    </div>
                    <div class="service-context">
                        <h4>Apartment Design</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing Ipsum has been the standard .</p>
                        <a href="./serviceDetail.html">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Read More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-box">
                    <div class="service-img">
                        <img class="img-fluid" src="./img/Home-img/blog-7.jpg" alt="">
                        <div class="service-icon">
                            <i class="fal fa-tools"></i>
                        </div>
                    </div>
                    <div class="service-context">
                        <h4>Facade Engineering</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing Ipsum has been the standard .</p>
                        <a href="./serviceDetail.html">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Read More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="solutions">
    <div class="opacity-01"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                <div class="all-solution">
                    <div class="solution-box">
                        <span>@Model.Solution.Suptitle</span>
                        <h2>@Model.Solution.Title</h2>

                    </div>
                    <p>@Html.Raw(Model.Solution.Text)</p>
                    @*<ul>
            <li><i class="fas fa-check"></i>Lorem ipsum dolor sit amet,consectetur adipiscing elit.</li>
            <li><i class="fas fa-check"></i>Integer egestas metus blandit sagittis vestibulum.</li>
            <li><i class="fas fa-check"></i>Nunc iaculis libero in ipsum molestie fermentum,a molestie nulla aliquet.</li>
            <li><i class="fas fa-check"></i>Integer eget massa malesuada,semper metus in,mattis diam.</li>
        </ul>*@

                </div>

            </div>
            <div class="col-xl-6  mt-5 d-flex  " data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                <div class="solution-img">
                    <img class="img-fluid" src="./img/About-img/demo-7.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="team" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-context">
                    <div class="head-context">
                        <span>Would Like To Hear From You!</span>
                        <h2>Our Motivated Team</h2>
                        <p class="head-contextP">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="persons owl-carousel ">

                <div class="person-box">
                    <div class="person-img">
                        <img class="img-fluid" src="./img/Home-img/02.jpg" alt="">
                        <div class="person-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="person-info">
                        <span>Project Head</span>
                        <h5>Robert Anderson</h5>
                    </div>
                </div>


                <div class="person-box">
                    <div class="person-img">
                        <img class="img-fluid" src="./img/Home-img/03.jpg" alt="">
                        <div class="person-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="person-info">
                        <span>Creative Head</span>
                        <h5>Iliena Brown</h5>
                    </div>

                </div>

                <div class="person-box">
                    <div class="person-img">
                        <img class="img-fluid" src="./img/Home-img/04.jpg" alt="">
                        <div class="person-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="person-info">
                        <span>Creative Direction</span>
                        <h5>Michal Smart</h5>
                    </div>
                </div>


                <div class="person-box">
                    <div class="person-img">
                        <img class="img-fluid" src="./img/Home-img/05.jpg" alt="">
                        <div class="person-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="person-info">
                        <span>Stock Market</span>
                        <h5>Danial Frankie</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="subscribe-context">
                    <div class="subscribe-img">
                        <img class="img-fluid" src="./img/Home-img/mail.png" alt="">
                    </div>
                    <div class="subscribe-details">
                        <h6>Sign Up to Get Latest Updates</h6>
                        <p>It is a long established fact that a reader will be distracted by the</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="">
                    <input type="email" name="email" autocomplete="off" placeholder="Your email address">
                    <button type="submit">Sign up</button>

                </form>
            </div>
        </div>
    </div>
</section>
