@model VmAbout
@{
    ViewData["Title"] = "Index";
}

<partial name="_BannerPartial" model="@Model.Banner" />

<section class="need">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                <div class="need-img">
                    <img class="img-fluid" src="~/Uploads/@Model.About.Image" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="need-text">
                    <div class="need-context">
                        <span>Construction Experience</span>
                        <h2>We Building Everything Best That You Needed</h2>
                    </div>
                    <p>@Html.Raw(Model.About.Text)</p>

                    <div class="row">

                        <div class="person-info">
                            <div class="need-sign">
                                <img class="img-fluid" src="./img/About-img/sign.png" alt="">
                            </div>


                            <div class="sign-person">
                                <h4>@Model.About.FounderName</h4>
                                <p>@Model.About.Position</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-tractor">
        <div class="tractor-img" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            <img class="img-fluid" src="./img/About-img/bg-01.png" alt="">
        </div>
    </div>
</section>
<section class="video">
    <div class="video-opacity"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-video">
                    <a class="play-btn video-play-btn" href="~/Uploads/@Model.Setting.Video">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="watch" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
        <h2>Watch Our Video</h2>
    </div>

</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="services-context">
                    <div class="head-context">
                        <span>What We Offer</span>
                        <h2>Architek Best Services</h2>
                        <p class="head-contextP">There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form believable.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Services</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            @foreach (var service in Model.Services)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="service-box">
                        <div class="service-img">
                            <img class="img-fluid" src="~/Uploads/@service.ServiceImage" alt="">
                            <div class="service-icon">
                                <i class="@service.Icon"></i>
                            </div>
                        </div>
                        <div class="service-context">
                            <h4>@service.Name</h4>
                            <p>@Html.Raw(service.Text.Length > 220 ? service.Text.Substring(0, 220) + "..." : service.Text)</p>
                            <a asp-controller="Service" asp-action="Detail" asp-route-id="@service.Id">
                                <div class="button-box">
                                    <span class="line-left"></span>
                                    <span class="lineB">Read More</span>
                                    <span class="line-right"></span>
                                    <i class="fas fa-caret-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
</section>
<section class="solutions">
    <div class="opacity-01"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                <div class="all-solution">
                    <div class="solution-box">
                        <span>@Model.Solution.Suptitle</span>
                        <h2>@Model.Solution.Title</h2>

                    </div>
                    <p>@Html.Raw(Model.Solution.Text)</p>
                </div>

            </div>
            <div class="col-xl-6  mt-5 d-flex  " data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                <div class="solution-img">
                    <img class="img-fluid" src="~/Uploads/@Model.Solution.Image" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="team" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-context">
                    <div class="head-context">
                        <span>Would Like To Hear From You!</span>
                        <h2>Our Motivated Team</h2>
                        <p class="head-contextP">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="persons owl-carousel ">

                @foreach (var team in Model.Teams)
                {
                    <div class="person-box">
                        <div class="person-img">
                            <img class="img-fluid" src="~/Uploads/@team.Image" alt="">
                            <div class="person-social">
                                <ul>
                                    @foreach (var personSocial in team.PersonToSocials)
                                    {
                                        <li><a href="@personSocial.PersonSocial.Link"><i class="@personSocial.PersonSocial.Icon"></i></a></li>

                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="person-info">
                            <span>@team.PersonPosition.Name</span>
                            <h5>@team.Name</h5>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</section>

