@model List<Service> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Service </a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Service Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <!-- end row -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">

                        <div class="table-responsive">
                            <table class="table table-centered m-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Text</th>
                                        <th>Icon</th>
                                        <th>Category</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        foreach (var service in Model)
                                        {
                                            i++;

                                                                        <tr>
                                                                            <td scope="row">@i</td>

                                                                            <td>


                                                                                <img class="rounded" alt="" src="~/Uploads/@service.ServiceImage" style="width: 100px; height: 66px;">


                                                                            </td>
                                                                            <td>@service.Name</td>
                                                                            <td>@Html.Raw(service.Text!=null && service.Text.Length > 220 ? service.Text.Substring(0, 220) + "..." : service.Text)</td>
                                                                            <td><i class="@service.Icon"></i></td>
                                                                            <td>@service.ServiceCatagory.Name </td>
                                                                            <td class="d-flex">
                                                                                <a asp-area="Admin" asp-controller="Service" asp-action="Update" asp-route-id="@service.Id" class="btn btn-warning mx-2">Update</a>
                                                                                <a asp-area="Admin" asp-controller="Service" asp-action="Delete" asp-route-id="@service.Id" id="sweet-delete" class="btn btn-danger">Delete</a>

                                                                            </td>
                                                                        </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



