@model Service
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Service</a></li>
                                <li class="breadcrumb-item active">Add / Edit Service</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Add / Edit Service </h4>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card-box">
                        <div class="">
                            <form asp-area="Admin" asp-controller="Service" asp-action="Update" method="post" enctype="multipart/form-data">

                                <div class="form-group mb-4">
                                    <label asp-for="@Model.ServiceImageFile">File Uploads</label>
                                    <img src="~/Uploads/@Model.ServiceImage" alt="Alternate text" width="100" />
                                    <input class="form-control" asp-for="@Model.ServiceImageFile" data-height="210" />
                                    <span asp-validation-for="@Model.ServiceImageFile" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-4">
                                    <label asp-for="@Model.Name">Service Name</label>
                                    <input asp-for="@Model.Name" class="form-control" placeholder="Enter name">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box">
                                            <h4 class="header-title mb-4">Default Editor</h4>
                                            @*<div>
                        <h5>Hello Summernote</h5>
                    </div>*@
                                            <label asp-for="@Model.Text">Text</label>
                                            <textarea class="summernote" asp-for="@Model.Text" cols="30" rows="6"></textarea>
                                            <span asp-validation-for="@Model.Text" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <label asp-for="@Model.Icon">Service Icon</label>
                                    <input asp-for="@Model.Icon" class="form-control" placeholder="Enter Icon">
                                    <span asp-validation-for="@Model.Icon" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-4">
                                    <label asp-for="@Model.CategoryId">Post Category</label>
                                    <select class="select2 form-control select2-multiple" data-placeholder="Choose ..." asp-for="@Model.CategoryId">
                                        @foreach (var item in ViewBag.Category)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }


                                    </select>
                                </div>

                                <input type="hidden" asp-for="@Model.Id" />
                                <input type="hidden" asp-for="@Model.ServiceImage" />

                                <button type="submit" class="btn btn-warning waves-effect waves-light mr-1">Update</button>
                                <button asp-area="Admin" asp-controller="Service" asp-action="Index" type="submit" class="btn btn-primary waves-effect waves-light">Back to list</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

