@model VmProcess
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_BannerPartial" model="@Model.Banner" />

<section class="work-process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="work-context">
                    <div class="process-context">
                        <span>Our Work Process</span>
                        <h2>How Does Architek Works</h2>
                        <p class="head-contextP">There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form believable.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Process</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            @{ int i = 0;


                foreach (var process in Model.Processes)
                {
                    i++;

                        <div class="col-lg-4  col-md-6">
                            <div class="works">
                                <div class="img-arrow">
                                    <img src="./img/Home-img/arrow-2.png" alt="arrow">
                                </div>
                                <div class="works-icon">
                                    <i class="@process.Icon"></i>
                                    
                                        <span>@(i)</span>
                                  

                                </div>
                                <div class="work-context">
                                    <h3>@process.ProcessHead </h3>
                                    <p>@process.ProcessText</p>
                                </div>

                            </div>
                        </div>
                }
            }

                    
                </div>
        <div class="img-tractor">
            <img class="tractor1" src="./img/Home-img/unnamed-1.png" alt="tractor" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
        </div>
    </div>

</section>
<section class="projects">
    <div class="projectBg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 px-0">
                <div class="project-box">
                    <span>Our Work</span>
                    <h2>Explore Recent Projects</h2>
                    <p class="HProject">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

                </div>
            </div>
            <div class="col-lg-6 d-xl-flex  project-button">
                <div class=" go-about">
                    <a asp-controller="Project" asp-action="Index" >
                        <div class="button-box">
                            <span class="line-left"></span>
                            <span class="lineB">Veiw More</span>
                            <span class="line-right"></span>
                            <i class="fas fa-caret-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-body owl-carousel">
                @foreach (var project in Model.Projects)
                {
                    <div class="project-text">
                        <div class="project-img">
                            <div class="opacity-img"></div>
                            <img class=img-fluid src="~/Uploads/@project.Image" alt="">
                            <a asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span>@project.ProjectArchiteck.Name</span>
                            <a href="./projectDetail.html">@project.Name</a>
                        </div>

                    </div>

                }
            </div>

        </div>
        <div class="watch" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            <h2 class="watch-title">Our Work</h2>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="services-context">
                    <div class="head-context">
                        <span>What We Offer</span>
                        <h2>Architek Best Services</h2>
                        <p class="head-contextP">There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form believable.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Services</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            @foreach (var service in Model.Services)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="service-box">
                        <div class="service-img">
                            <img class="img-fluid" src="~/Uploads/@service.ServiceImage" alt="">
                            <div class="service-icon">
                                <i class="@service.Icon"></i>
                            </div>
                        </div>
                        <div class="service-context">
                            <h4>@service.Name</h4>
                            <p>@Html.Raw(service.Text != null && service.Text.Length > 220 ? service.Text.Substring(0, 220) + "..." : service.Text)</p>
                            <a asp-controller="Service" asp-action="Detail" asp-route-id="@service.Id">
                                <div class="button-box">
                                    <span class="line-left"></span>
                                    <span class="lineB">Read More</span>
                                    <span class="line-right"></span>
                                    <i class="fas fa-caret-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            }
            
        </div>
    </div>
</section>


