@model VmHome
@{
    ViewData["Title"] = "Home Page";
}

<section class="home-architeck" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
    <div class="custom-slider d-flex owl-carousel">
        @{
            int b = 0;
            //int a = 1;
            foreach (var banner in Model.HomeBanners)
            {
                b++;
                <div class="col-lg-12">
                    <div class="architeck-solution">

                        <img class="img-fluid" src="~/Uploads/@banner.BgImage" alt="">
                      
                        <div class="enginer-text2">
                            <div class="col-lg-6">
                                <div class="architeck-context">
                                    <span>
                                        @banner.Suptitle
                                    </span>
                                    <h2>
                                        @banner.Title
                                    </h2>
                                    <p>
                                        @banner.Text
                                    </p>

                                    <a class="explore" href="#">Explore More</a>
                                    <a class="touch mx-3" href="#">Get In Touch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }
        @*<div class="col-lg-12">
            <div class="architeck-solution">
                <img class="img-fluid" src="./img/Home-img/bg-3343.jpg" alt="">
                <div class="enginer-text3">
                    <div class="col-lg-6">
                        <div class="architeck-context">
                            <span>
                                Great Experience in
                                Bulding.
                            </span>
                            <h2>
                                We Are Best Builders
                            </h2>
                            <h2> In The World</h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its .
                            </p>

                            <a class="explore" href="#">Explore More</a>
                            <a class="touch mx-3" href="#">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="architeck-solution">
                <img class="img-fluid" src="./img/Home-img/bg-333.jpg" alt="">
                <div class="enginer-text">
                    <div class="col-lg-6">
                        <div class="architeck-context">
                            <span>
                                Great Experience in
                                Bulding.
                            </span>
                            <h2>
                                Provide Effective Solutions.
                            </h2>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            </p>

                            <a class="explore" href="#">Explore More</a>
                            <a class="touch mx-3" href="#">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    </div>
</section>
<section class="aboutUs">
    <div class="custom-about-secImg">
        <img src="./img/Home-img/demo-4.png" alt="demo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-box">
                    <div class="head-opacity">
                        <h2>ABOUT US</h2>
                    </div>

                    <span>Where Can We Help You</span>
                    <h2>Welcome To Construction Real Solutions.</h2>
                </div>
                <p>@Html.Raw(Model.About.Text)</p>


                <div class="mt-5 go-about">
                    <a asp-controller="About" asp-action="Index">
                        <div class="button-box">
                            <span class="line-left"></span>
                            <span class="lineB">Read More</span>
                            <span class="line-right"></span>
                            <i class="fas fa-caret-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-right-side" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12 ">
                            <div class="bilmirem">
                                <div class="about-right-img">
                                    <img class="img-fluid" src="./img/Home-img/demo-1.jpg" alt="about1">
                                    @*<div class="geden"></div>*@

                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-12">
                            <div class="bilmirem">
                                <div class="about-right-img">
                                    <img class="img-fluid img2" src="./img/Home-img/demo-2.jpg" alt="about2">
                                    <div class="geden"></div>

                                </div>
                            </div>
                        </div>
                        <div class="count-about">
                            <h5>25</h5>
                            <span>+</span>
                            <span>YEARS EXPERIENCE</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="feature-imgs">
                    <img class="img-fluid f1" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0" src="./img/Home-img/demo-3.png" alt="demo">
                    <img class="img-fluid f2" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0" src="./img/Home-img/demo-4.png" alt="demo">
                    <img class="img-fluid f3" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0" src="./img/Home-img/demo-5.png" alt="demo">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="feature-rightSide">
                    <div class="feature-context">
                        <span>Explore The Features</span>
                        <h2>Project Commitment</h2>
                        <p>There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form,by injected humour,or randomised words which don’t look even slightly believable.</p>
                    </div>
                    <div class="mt-5 go-about">
                        <a href="./project.html">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Read More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="projects">
    <div class="projectBg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 px-0">
                <div class="project-box">
                    <span>Our Work</span>
                    <h2>Explore Recent Projects</h2>
                    <p class="HProject">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

                </div>
            </div>
            <div class="col-lg-6 d-xl-flex  project-button">
                <div class=" go-about">
                    <a asp-controller="Project" asp-action="Index">
                        <div class="button-box">
                            <span class="line-left"></span>
                            <span class="lineB">Veiw More</span>
                            <span class="line-right"></span>
                            <i class="fas fa-caret-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-body owl-carousel">
                @foreach (var project in Model.Projects)
                {
                    <div class="project-text">
                        <div class="project-img">
                            <div class="opacity-img"></div>
                            <img class=img-fluid src="~/Uploads/@project.Image" alt="">
                            <a asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span>@project.ProjectArchiteck.Name</span>
                            <a href="./projectDetail.html">@project.Name</a>
                        </div>

                    </div>

                }
                @*<div class="project-text">
                        <div class="project-img">
                            <img class=img-fluid class="img-fluid" src="./img/Home-img/09.jpg" alt="">
                            <a href="./projectDetail.html">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span>Designer Designer</span>
                            <a href="./projectDetail.html">Catalyst Architects</a>
                        </div>

                    </div>
                    <div class="project-text">
                        <div class="project-img">
                            <img class=img-fluid class="img-fluid" src="./img/Home-img/04 (1).jpg" alt="">
                            <a href="./projectDetail.html">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span>Designer Furniture</span>
                            <a href="./projectDetail.html">Studio Architecture</a>
                        </div>

                    </div>
                    <div class="project-text">
                        <div class="project-img">
                            <img class=img-fluid class="img-fluid" src="./img/Home-img/05 (1).jpg" alt="">
                            <a href="./projectDetail.html">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span> Exteririon</span>
                            <a href="./projectDetail.html">Benoit Architecture</a>
                        </div>

                    </div>
                    <div class="project-text">
                        <div class="project-img">
                            <img class=img-fluid class="img-fluid" src="./img/Home-img/06.jpg" alt="">
                            <a href="./projectDetail.html">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span>Designer </span>
                            <a href="./projectDetail.html">Jiang Architecture</a>
                        </div>

                    </div>
                    <div class="project-text">
                        <div class="project-img">
                            <img class=img-fluid class="img-fluid" src="./img/Home-img/07.jpg" alt="">
                            <a href="./projectDetail.html">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span> Furniture</span>
                            <a href="./projectDetail.html">Nenan Expansion</a>
                        </div>

                    </div>
                    <div class="project-text">
                        <div class="project-img">
                            <img class=img-fluid class="img-fluid" src="./img/Home-img/09.jpg" alt="">
                            <a href="./projectDetail.html">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span>Designer</span>
                            <a href="./projectDetail.html">Mechanical Trim</a>
                        </div>

                    </div>
                    <div class="project-text">
                        <div class="project-img">
                            <img class=img-fluid class="img-fluid" src="./img/Home-img/06.jpg" alt="">
                            <a href="./projectDetail.html">
                                <i class="fal fa-plus"></i>
                            </a>
                        </div>
                        <div class="project-content">
                            <span>Designer Exteririon</span>
                            <a href="./projectDetail.html">Whitney Architecture</a>
                        </div>

                    </div>*@

            </div>

        </div>
        <div class="watch" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            <h2 class="watch-title">Our Work</h2>
        </div>
    </div>
</section>
<section class="work-process">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="work-context">
                    <div class="process-context">
                        <span>Our Work Process</span>
                        <h2>How Does Architek Works</h2>
                        <p class="head-contextP">There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form believable.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Process</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            @{ int i = 0;

                bool arrow=true;
                foreach (var process in Model.Processes)
                {

                    if (i==2)
                    {
                        arrow = false;
                    }
                    i++;
                    <div class="col-lg-4  col-md-6">
                                    <div class="works">
                                        @if (arrow)
                                        {
                                            <div class="img-arrow">
                                                <img src="./img/Home-img/arrow-2.png" alt="arrow">
                                            </div>
                                        }

                                        <div class="works-icon">
                                            <i class="@process.Icon"></i>

                                            <span>@(i)</span>


                                        </div>
                                        <div class="work-context">
                                            <h3>@process.ProcessHead </h3>
                                            <p>@process.ProcessText</p>
                                        </div>

                                    </div>
                    </div>
                }
            }


        </div>
        <div class="img-tractor">
            <img class="tractor1" src="./img/Home-img/unnamed-1.png" alt="tractor" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
        </div>
    </div>

</section>
<section class="video">
    <div class="video-opacity"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="modal-video">
                    <a class="play-btn video-play-btn" href="@Model.Setting.Video">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="watch" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
        <h2>Watch Our Video</h2>
    </div>

</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="services-context">
                    <div class="head-context">
                        <span>What We Offer</span>
                        <h2>Architek Best Services</h2>
                        <p class="head-contextP">There are many variations of passages of Lorem Ipsum available,but the majority have suffered alteration in some form believable.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Services</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
            @foreach (var service in Model.Services)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="service-box">
                        <div class="service-img">
                            <img class="img-fluid" src="~/Uploads/@service.ServiceImage" alt="">
                            <div class="service-icon">
                                <i class="@service.Icon"></i>
                            </div>
                        </div>
                        <div class="service-context">
                            <h4>@service.Name</h4>
                            <p>@Html.Raw(service.Text.Length > 220 ? service.Text.Substring(0, 220) + "..." : service.Text)</p>
                            <a asp-controller="Service" asp-action="Detail" asp-route-id="@service.Id">
                                <div class="button-box">
                                    <span class="line-left"></span>
                                    <span class="lineB">Read More</span>
                                    <span class="line-right"></span>
                                    <i class="fas fa-caret-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        </div>
</section>
<section class="solutions">
    <div class="opacity-01"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                <div class="all-solution">
                    <div class="solution-box">
                        <span>@Model.Solution.Suptitle</span>
                        <h2>@Model.Solution.Title</h2>

                    </div>
                    <p>@Html.Raw(Model.Solution.Text)</p>
                    <div class="mt-5 go-about">
                        <a asp-controller="About" asp-action="Index">
                            <div class="button-box">
                                <span class="line-left"></span>
                                <span class="lineB">Veiw More</span>
                                <span class="line-right"></span>
                                <i class="fas fa-caret-right"></i>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xl-6  mt-5 d-flex  ">
                <div class="solution-img">
                    <img class="img-fluid" src="~/Uploads/@Model.Solution.Image" alt="" data-aos="fade-right" data-aos-once="true" data-aos-duration="6000" data-aos-delay="600">

                </div>
            </div>
            <div class="solution-counter">
                <div class="opacity-01"></div>
                <div class="container">
                    <div class="row">
                        <div class="count-items" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                            <div class="col-lg-3 col-sm-3">
                                <div class="counter-context">
                                    <div class="counter-icon">
                                        <i class="fal fa-industry-alt"></i>
                                    </div>
                                    <div class="counter-info">
                                        <!-- <span class="odemeter odospan"></span> -->
                                        <span class="countfect" data-num="2400"></span>

                                        <p>Project Complated</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="100">
                                <div class="counter-context">
                                    <div class="counter-icon">
                                        <i class="fal fa-drafting-compass"></i>
                                    </div>
                                    <div class="counter-info">
                                        <span class="odemeter odospan"></span>
                                        <p>Work Employed</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="200">
                                <div class="counter-context">
                                    <div class="counter-icon">
                                        <i class="fal fa-user-hard-hat"></i>

                                    </div>
                                    <div class="counter-info">
                                        <span class="odemeter odospan"></span>
                                        <p>Happy Customers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-3" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="300">
                                <div class="counter-context">
                                    <div class="counter-icon">
                                        <i class="fal fa-cogs"></i>
                                    </div>
                                    <div class="counter-info">
                                        <span class="odemeter odospan"></span>
                                        <p>Painting Services</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Hteam" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-context">
                    <div class="head-context">
                        <span>Would Like To Hear From You!</span>
                        <h2>Our Expert Team</h2>
                        <p class="head-contextP">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                    <div class="head-opacity">
                        <h2>Challenger</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="persons owl-carousel ">
                @foreach (var team in Model.Teams)
                {
                    <div class="person-box">
                        <div class="person-img">
                            <img class="img-fluid" src="~/Uploads/@team.Image" alt="">
                            <div class="person-social">
                                <ul>
                                    @foreach (var personSocial in team.PersonToSocials)
                                    {
                                        <li><a href="@personSocial.PersonSocial.Link"><i class="@personSocial.PersonSocial.Icon"></i></a></li>

                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="person-info">
                            <span>@team.PersonPosition.Name</span>
                            <h5>@team.Name</h5>
                        </div>
                    </div>

                }


                @*<div class="person-box">
                        <div class="person-img">
                            <img class="img-fluid" src="./img/Home-img/03.jpg" alt="">
                            <div class="person-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="person-info">
                            <span>Creative Head</span>
                            <h5>Iliena Brown</h5>
                        </div>

                    </div>

                    <div class="person-box">
                        <div class="person-img">
                            <img class="img-fluid" src="./img/Home-img/04.jpg" alt="">
                            <div class="person-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="person-info">
                            <span>Creative Direction</span>
                            <h5>Michal Smart</h5>
                        </div>
                    </div>


                    <div class="person-box">
                        <div class="person-img">
                            <img class="img-fluid" src="./img/Home-img/05.jpg" alt="">
                            <div class="person-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="person-info">
                            <span>Stock Market</span>
                            <h5>Danial Frankie</h5>
                        </div>
                    </div>*@

            </div>
        </div>
    </div>
</section>
<section class="clientSay">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="say-head">
                    <span>Our Clients Say</span>
                    <h2>Clients Say About Us</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="said-body owl-carousel">
                @foreach (var comment in Model.ServiceComments)
                {
                    <div class="said-text">
                        <div class="said-img">
                            <img class="img-fluid" src="./img/Home-img/05.jpg" alt="">
                            <div class="client-info">
                                <h5>@comment.Name</h5>
                                <p>@comment.Subject</p>
                            </div>
                        </div>
                        <div class="said-star">

                            <div class="said-icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>

                        </div>
                        <div class="said-content">
                            <div class="said-quote">
                                <i class="fas fa-quote-right"></i>
                            </div>
                            <p>@(comment.Context!=null && comment.Context.Length > 70 ? comment.Context.Substring(0, 70) + "..." : comment.Context)</p>
                        </div>

                    </div>

                }
                @*<div class="said-text">
            <div class="said-img">
                <img class="img-fluid" src="./img/Home-img/04.jpg" alt="">
                <div class="client-info">
                    <h5>Steven Smith</h5>
                    <p>CEO at Envato</p>
                </div>
            </div>
            <div class="said-star">

                <div class="said-icon">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>
            <div class="said-content">
                <div class="said-quote">
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Contrary to popular belief,Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,making it over 2000 years old.</p>
            </div>

        </div>
        <div class="said-text">
            <div class="said-img">
                <img class="img-fluid" src="./img/Home-img/01.jpg" alt="">
                <div class="client-info">
                    <h5>Steven Smith</h5>
                    <p>CEO at Envato</p>
                </div>
            </div>
            <div class="said-star">

                <div class="said-icon">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>
            <div class="said-content">
                <div class="said-quote">
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Contrary to popular belief,Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,making it over 2000 years old.</p>
            </div>

        </div>
        <div class="said-text">
            <div class="said-img">
                <img class="img-fluid" src="./img/Home-img/02.jpg" alt="">
                <div class="client-info">
                    <h5>Steven Smith</h5>
                    <p>CEO at Envato</p>
                </div>
            </div>
            <div class="said-star">

                <div class="said-icon">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>
            <div class="said-content">
                <div class="said-quote">
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Contrary to popular belief,Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,making it over 2000 years old.</p>
            </div>

        </div>
        <div class="said-text">
            <div class="said-img">
                <img class="img-fluid" src="./img/Home-img/03.jpg" alt="">
                <div class="client-info">
                    <h5>Steven Smith</h5>
                    <p>CEO at Envato</p>
                </div>
            </div>
            <div class="said-star">

                <div class="said-icon">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>
            <div class="said-content">
                <div class="said-quote">
                    <i class="fas fa-quote-right"></i>
                </div>
                <p>Contrary to popular belief,Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,making it over 2000 years old.</p>
            </div>

        </div>*@

            </div>

        </div>
        <!-- <div class="next-prev">
            <button type="button">
                <i class="fal fa-chevron-left"></i>
                <span>Prev</span>
            </button>
            <button type="button">

                <span>Next</span>
                <i class="fal fa-chevron-right"></i>
            </button>
        </div> -->
    </div>
</section>
<section class="sponsor py-4 mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="client-items owl-carousel">
                    @foreach (var client in Model.Clients)
                    {
                        <div class="client-item">
                            <img class="img-fluid" src="~/Uploads/@client.ClientImages" alt="">
                            @*<img class="client-hover" src="~/Uploads/@client.ClientImages.Image" alt="">s*@

                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
