@model VmChangePassword

@{
    Layout = null;
}

<div class="container forget-password">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="panel panel-default" style="padding: 31% 6% 0% !important; margin-top: -27% !important;">
                <div class="panel-body" style="position: relative;" >

                    <div class="text-center" style="display:inline-block; width:64%">
                        <h2 class="text-center" style=" color: #002156; line-height: 1.5; font-style: normal; font-weight: 600; margin: 0; font-size: 48px;">Reset Password?</h2>
                        <p style="color: #ff631b; font-weight: 600;">Please enter new password.</p>
                        <form asp-area="Admin" asp-controller="Account" asp-action="ChangePassword" method="post">
                            <div class="form-group">
                                <input style=" padding: 17px; margin-bottom: 40px; font-size: 12px; width: 63%; border-radius: 4px; outline: none; border: 1px solid #002156; " asp-for="@Model.Password" class="form-control form-control-user" placeholder="Enter Password">
                                <span style="position: absolute; left: 0; bottom: -20px; color: red; font-size: 20px; font-weight: 600;" asp-validation-for="@Model.Password"></span>
                            </div>
                            <div class="form-group">
                                <input style=" padding: 17px; margin-bottom: 40px; font-size: 12px; width: 63%; border-radius: 4px; outline: none; border: 1px solid #002156; " asp-for="@Model.ConfirmPassword" class="form-control form-control-user" placeholder="Enter Confirm Password...">
                                <span style="position: absolute; left: 0; bottom: -20px; color: red; font-size: 20px; font-weight: 600;" asp-validation-for="@Model.ConfirmPassword"></span>
                            </div>
                            <input hidden asp-for="@Model.Token" />
                            <button type="submit" style=" padding: 10px 30px; color: #ffffff; display: inline-block; border: none; line-height: 2; border-radius: 4px; background-color: #ff631b;" class="btn btn-primary btn-user btn-block">
                                Change Password
                            </button>
                        </form>
                    </div>
                    <img style="position: absolute; right: -50px; top: -40px;" src="~/img/Banner/reset-password.jpg" />

                </div>
            </div>
        </div>
    </div>
</div>
@*value="@Model.ResetCode"*@