@model VmProject
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Project </a></li>
                            </ol>
                        </div>
                        <h4 class="page-title">Project</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Project" asp-action="Create">Create</a>
            </div>

            <div class="col-lg-12">
                @if (HttpContextAccessor.HttpContext.Session.GetString("NullIdError") != null)
                {
                    <div class="alert alert-danger">
                        @HttpContextAccessor.HttpContext.Session.GetString("NullIdError")
                    </div>
                    HttpContextAccessor.HttpContext.Session.Remove("NullIdError");
                }

                @if (HttpContextAccessor.HttpContext.Session.GetString("NullDataError") != null)
                {
                    <div class="alert alert-danger">
                        @HttpContextAccessor.HttpContext.Session.GetString("NullDataError")
                    </div>
                    HttpContextAccessor.HttpContext.Session.Remove("NullDataError");
                }
            </div>
            <hr />



            <div class="row">
                @{
                    foreach (var project in Model.Projects)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="property-card card">
                                @*<div class="property-image" style="background: url(~/wwwroot/Uploads/) center center / cover no-repeat;">
                                <span class="property-label badge badge-warning">@project.ProjectArchiteck.Name</span>
                            </div>*@
                                <img src="~/Uploads/@project.Image" />
                                <span class="property-label badge badge-warning">@project.ProjectArchiteck.Name</span>

                                <div class="property-content card-body">
                                    <div class="listingInfo">
                                        <div class="">
                                            <h5 class="text-success font-18 mt-0">@project.CreatedDate.ToString("MMM dd yyyy")</h5>
                                        </div>
                                        <div class="">
                                            <h5 class="text-overflow"><a href="#" class="text-dark">@project.Name</a></h5>
                                            <p class="text-muted text-overflow">@project.Client <span>,</span> @project.Contractor</p>

                                            <a asp-area="Admin" asp-controller="Project" asp-action="Update" asp-route-id="@project.Id" class="btn btn-warning" style="margin-right: 130px;">Update</a>
                                            <a asp-area="Admin" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger delete">Delete</a>


                                            <div class="mt-3">
                                                <a class="btn btn-success btn-block waves-effect waves-light" asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id">View Detail</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- end. Card actions -->
                                </div>
                                <!-- /inner row -->
                            </div>
                            <!-- End property item -->
                        </div>

                    }
                }
                <!-- end col -->


            </div>
            <!-- end row -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(ViewBag.Page==1?"disabled":"")">
                        <a class="page-link" asp-controller="Project" asp-action="index" asp-route-page="@(ViewBag.Page-1)">Previous</a>
                    </li>
                    @for (int i = 0; i < ViewBag.PageCount; i++)
                    {
                        <li class="page-item @(ViewBag.Page==(i+1)?"active":"")"><a class="page-link" asp-controller="Project" asp-action="index" asp-route-page="@(i+1)">@(i+1)</a></li>
                    }
                    <li class="page-item @(ViewBag.Page==ViewBag.PageCount?"disabled":"")">
                        <a class="page-link" asp-controller="Project" asp-action="index" asp-route-page="@(ViewBag.Page+1)">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- end container-fluid -->

    </div>
   

</div>












@*<div class="content-page">
    <div class="content">

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Zircos</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Project </a></li>
                            </ol>
                        </div>
                        <h4 class="page-title">Project</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Project" asp-action="Create">Create</a>
            </div>

            <div class="col-lg-12">
                @if (HttpContextAccessor.HttpContext.Session.GetString("NullIdError") != null)
                {
                    <div class="alert alert-danger">
                        @HttpContextAccessor.HttpContext.Session.GetString("NullIdError")
                    </div>
                    HttpContextAccessor.HttpContext.Session.Remove("NullIdError");
                }

                @if (HttpContextAccessor.HttpContext.Session.GetString("NullDataError") != null)
                {
                    <div class="alert alert-danger">
                        @HttpContextAccessor.HttpContext.Session.GetString("NullDataError")
                    </div>
                    HttpContextAccessor.HttpContext.Session.Remove("NullDataError");
                }
            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="table-responsive">
                            <table class="table table-centered m-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th>Image</th>

                                        <th>Name</th>
                                        <th>Architeck</th>
                                        <th>Client</th>
                                        <th>Contractor</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        foreach (var project in Model)
                                        {
                                            i++;

                                            <tr>
                                                <td scope="row">@i</td>
                                                <td> <img class="rounded" alt="" src="~/Uploads/@project.Image" style="width: 100px; height: 66px;"> </td>
                                                <td>@project.Name</td>
                                                <td>@project.ProjectArchiteck.Name </td>
                                                <td>@project.Client</td>
                                                <td>@project.Contractor</td>

                                                <td>
                                                    <a asp-area="Admin" asp-controller="Project" asp-action="Update" asp-route-id="@project.Id" class="btn btn-warning">Update</a>
                                                    <a asp-area="Admin" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id"  class="btn btn-danger delete">Delete</a>

                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>*@



@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    $('.delete').on('click', function (e) {
            e.preventDefault();
            let url = $(this).attr('href');
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        fetch(url).then(response => response.json()).then(data => {
                            if (data.code == 204) {
                                swal(data.message, {
                                    icon: "success",
                                });
                                window.location.reload();
                            } else {
                                swal(data.message, {
                                    icon: "error",
                                });
                            }
                        })
                    } else {
                        swal("Item wasn't deleted", { icon: "error" });
                    }
                });
        })</script>
}