@model VmService
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_BannerPartial" model="@Model.Banner" />

<section class="service-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="service-contents">
                    <div class="details-img">
                        <img class="img-fluid" src="~/Uploads/@Model.Service.ServiceImage" alt="">
                    </div>
                    <div class="details-context">
                        <div class="service-type">
                            <ul>
                                <li><i class="fas fa-calendar"></i><span>@Model.Service.CreatedDate.ToString("MMMM yyyy")</span></li>
                                <li><i class="fas fa-tag"></i><span>@Model.Service.ServiceCatagory.Name</span></li>
                            </ul>
                        </div>
                        <p>
                            @Html.Raw(Model.Service.Text)
                            
                        </p>
                   

                    </div>
                </div>
                <div class="service-comment-list">
                    <h3>@Model.ServiceComments.Count Comment</h3>
                    <ul>
                        @foreach (var comment in Model.ServiceComments)
                        {
                            if (comment.ParentId == null)
                            {
                                <li>
                                    <div class="comment-info">
                                        <div class="comment-img">
                                            <img src="~/img/ServiceDetail-img/avatar.png" alt="">
                                        </div>
                                        <div class="comment-box">
                                            <h5>
                                                @comment.Name
                                            </h5>
                                            <p>
                                                @comment.Context
                                            </p>
                                        </div>
                                        <div class="comment-reply">
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </div>

                            
                               
                                   <div class="service-comment replyDisplay">
                                           <h3 class="mt-4">Reply to @comment.Name</h3>
                                           <a href="#" class="cancelReply">Cancel reply</a>
                                           <p>Your email address will not be published. Required fields are marked *</p>
                                           <form asp-controller="Service" asp-action="Reply" method="post">
                                              <div class="row">

                                                 <div class="col-lg-4">
                                                    <div class="areas">
                                                      <input asp-for="@Model.ServiceComment.Name" placeholder="Enter name" required>
                                                    </div>
                                                 </div>
                                                 <div class="col-lg-4">
                                                      <div class="areas">
                                                            <input asp-for="@Model.ServiceComment.Email" type="email" placeholder="Enter email" required>
                                                      </div>
                                                 </div>
                                                 <div class="col-lg-4">
                                                    <div class="areas">
                                                         <input asp-for="@Model.ServiceComment.Subject" placeholder="Enter subject" required>
                                                    </div>
                                                 </div>
                                                 <div class="col-lg-12">
                                                   <textarea class="mt-4" asp-for="@Model.ServiceComment.Context" cols="30" rows="6" placeholder="Enter your comment"></textarea>
                                                 </div>
                                                  <div class="col-lg-12">
                                                     <div class="message-button mt-4">
                                                         <input type="hidden" asp-for="@Model.ServiceComment.ServiceId" value="@Model.Service.Id" />
                                                         <input type="hidden" asp-for="@Model.ServiceComment.ParentId" value="@comment.Id" />
                                                          <button type="submit"> Post Comment</button>
                                                     </div>
                                                  </div>

                                              </div>
                                           </form>
                                        </div>


                                   <ul>
                                            @foreach (var item2 in Model.ReplyComments)
                                            {
                                                if (item2.ParentId == comment.Id)
                                                {
                                                   <li>
                                                         <div class="comment-info">

                                                            <div class="comment-img">
                                                                <img src="~/img/ServiceDetail-img/avatar.png" alt="">
                                                            </div>
                                                            <div class="comment-box">
                                                                <h5>
                                                                   @item2.Name
                                                                </h5>
                                                                <p>@item2.Context</p>
                                                            </div>
                                                            <div class="comment-reply">
                                                                <a href="#" class="reply">Reply</a>
                                                            </div>
                                                         </div>

                                                    </li>
                                                }
                                            }
                                        </ul>

                                </li>
                            }
                        }
                    </ul>
                </div>
                        <div class="service-comment">
                            <h3 class="mt-4">Write a Reply or Comment</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form asp-controller="Service" asp-action="Comment" method="post">
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="areas">
                                            <input asp-for="@Model.ServiceComment.Name" placeholder="Enter name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="areas">
                                            <input asp-for="@Model.ServiceComment.Email" type="email" placeholder="Enter email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="areas">
                                            <input asp-for="@Model.ServiceComment.Subject" placeholder="Enter subject" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea class="mt-4" asp-for="@Model.ServiceComment.Context" cols="30" rows="6" placeholder="Enter your comment"></textarea>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="message-button mt-4">
                                            <input type="hidden" asp-for="@Model.ServiceComment.ServiceId" value="@Model.Service.Id" />
                                            <button type="submit" value="Search"> Post Comment</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
            </div>
                    <div class="col-lg-4">
                        <div class="some-service">
                            <div class="service-search">
                                <form asp-controller="Service" asp-action="Index" method="get">
                                    <label for="" name="search"></label>
                                    <input asp-for="@Model.Search.searchData" placeholder="Search...">

                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                           
                            <div class="service-category arcca">
                                <h2>Categories</h2>
                                <ul>
                                    @foreach (var item in Model.ServiceCatagories)
                                    {
                                        <li><a asp-controller="Service" asp-action="Index" asp-route-catId="@item.Id" >@item.Name</a></li>

                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>






