@model VmProject
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_BannerPartial" model="@Model.Banner" />
<section class="projects-main">
    <div class="container">
        <div class="row">


            <div class="col-lg-12">
                <div class="portfolioFilter project-filter">
                    <ul>
                        <li> <a href="#" data-filter="*" class="current waves-effect waves-light">All</a></li>

                        @foreach (var direction in Model.ProjectArchitecks)
                        {
                           
                                <li> <a href="#" data-filter=".@(direction.Name)" class="waves-effect waves-light">@direction.Name</a></li>
                        }
                    
                    </ul>

                </div>
            </div>

            <div class="port mb-3">
                <div class="portfolioContainer row">
                    @foreach (var project in Model.Projects)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12 @(project.ProjectArchiteck.Name)">
                            <div class="gallery-box project-box">
                                <div class="project-box-img">
                                    <img class="img-fluid" src="~/Uploads/@project.Image" alt="">
                                </div>
                                <div class="gal-detail  project-box-info">
                                    <span>@project.ProjectArchiteck.Name</span>
                                    <h5>@project.Name</h5>
                                    <a asp-controller="Project" asp-action="Detail" asp-route-id="@project.Id">
                                        <div class="button-box">
                                            <span class="line-left"></span>
                                            <span class="lineB">Read More</span>
                                            <span class="line-right"></span>
                                            <i class="fas fa-caret-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>



        </div>
    </div>
</section>



